body {
    width: 1920px;
    margin: auto;
}

.pizzacontainer {
    display: grid;
    margin: 0;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: repeat(7, 1fr) ;
    background-image: url(../img/flag.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.pizzacontainer > header {
    grid-column: 1/8 ;
    grid-row: 1/2 ;
    font-family: 'Italiana', serif; 
    font-weight: bold;
}

.pizzacontainer > footer > p {
    font-family: 'Italiana', serif; 
    text-align: center;
}

.pizzacontainer > header > h1 {
    font-family: 'Italiana', serif;  
    text-align: center ;
    color: rgb(2, 75, 2) ;
    font-size: 40px;
}

.checkcontainer > header > h1 {
    font-family: 'Italiana', serif;  
    text-align: center ;
    color: darkgreen;   
}

.checkcontainer > footer > p {
    font-family: 'Italiana', serif;  
}

.startcontainer > footer > .social > p {
    font-family: 'Italiana', serif; 
    color: black; 
    grid-row: 1/2;
    grid-column: 1/2;
}


.checkcontainer > header {
    grid-column: 4/5 ;
    grid-row: 1/2 ;
    font-weight: bold;
}

.checkcontainer {
    display: grid;
    margin: 0;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: repeat(12, 1fr) ;
    background-image: url(../img/flag.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.startcontainer {
    display: grid;
    margin: 0;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(8, 1fr) ;
    grid-template-rows: repeat(12, 1fr) ;
    background-image: url(../img/flag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.startcontainer > header {
    font-family: 'Italiana', serif; 
    background-color: white;
    grid-column: 4/6 ;
    grid-row: 1/2 ;
    text-align: center;
    font-weight: bold;
}

.topleft {
    background-color: green;
    grid-column: 1/4;
    grid-row: 1/2;
}

.topright {
    background-color: red;
    grid-column: 6/9;
    grid-row: 1/2;
}

.startcontainer > header > .logotyp {
    font-size: 16px;
    color: darkgreen;
    margin-bottom: 0px;
    margin-top: 6px;
}

.startcontainer > header > p {
    font-size: 10px;
    color: darkred;
    margin-top: 0px;
    margin-bottom: 6px;
}

.startcontainer > footer {
    grid-column: 1/9 ;
    grid-row: 12/13 ;
    border-top: 2px black solid;
    color: white;
    
}

.pizzacontainer > footer {
    grid-column: 1/8 ;
    grid-row: 7/8 ;
    border-top: 2px white solid;
}


.checkcontainer > footer {
    grid-column: 1/8 ;
    grid-row: 11/13 ;
    border-top: 2px white solid;
}

.start {
    background-color: blue;
    grid-column: 4/6;
    grid-row: 9/11;
    border: 2px white solid;
    border-radius: 16px;
    text-align: center;
    font-family: 'Italiana', serif;    
}

.start > a:hover {
    font-size: 30px;
    transition: 0.2s;
}

.start > a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: orange;
    margin-top: 2px;
    transition: 0.2s;
}


.start > p {
    font-size: 12px;
    color: white;
    margin-top: 2px;
}


.buy {
    grid-row: 6/7;
    grid-column: 4/5;
    background-color: blue;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    text-align: center;
    font-family: 'Italiana', serif; 
    border: 2px white solid;
    border-bottom: 0px;     
}

.buy > a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.buy:hover > a {
    font-size: 30px;
    transition: 0.2s;
}

input {
    grid-column: 3/6;
    text-align: center;
}

.banknum {
    grid-row: 4/5;  
}

.namn {
    grid-row: 2/3;
}

.utgår {
    grid-row: 6/7;
}

.cvc {
    grid-row: 8/9;
}

.pizzabild {
    grid-column: 3/7;
    grid-row: 3/8;
    background-image: url(../img/pepepizza.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.gramsey {
    grid-column: 1/3;
    grid-row: 3/7;
    background-image: url(../img/gordon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.ramtalk {
    grid-column: 1/3;
    grid-row: 7/8;
    background-color: red;
    border: 2px white solid;
    margin-left: 18px;
    margin-right: 38px;
}

.ramtalk > p {
    color: white;
    text-align: center;
    font-family: 'Italiana', serif; 
    font-weight: bold;
    margin-top: 30px;
}

.obama {
    grid-column: 7/9;
    grid-row: 3/7;
    background-image: url(../img/Obama_chef.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.bartalk {
    grid-column: 7/9;
    grid-row: 7/8;
    background-color: green;
    border: 2px white solid;
    margin-left: 38px;
    margin-right: 38px;
}

.bartalk > p {
    color: white;
    text-align: center;
    font-family: 'Italiana', serif; 
    font-weight: bold;
}

.pizzapicture {
    z-index: 90;
    grid-column: 4/5;
    grid-row: 2/6;
    background-position: center center;
    background-repeat: no-repeat;
    position: static;
}

.pizzapicture.hidden {
    display: none;
}

div.margharita {
    grid-row: 3/5;
    grid-column: 2/3;
    background-color: red;
}

div.hawaii {
    grid-row: 3/5;
    grid-column: 4/5;
    background-color: green;
}

div.pepperoni {
    grid-row: 3/5;
    grid-column: 6/7;
    background-color: white;
}

.pepperoni > p {
    text-align: center;
    font-family: 'Italiana', serif; 
}

.hawaii > p {
    text-align: center;
    font-family: 'Italiana', serif; 
}

.margharita > p {
    text-align: center;
    font-family: 'Italiana', serif; 
}


.check {
    grid-column: 3/6;
    grid-row: 9/11;
    background-color: blue;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    text-align: center;
    font-family: 'Italiana', serif;     
}

.check > a {
    color: white;
    text-decoration: none;  
}

.check:hover {
    font-size: 140%;
    transition: 0.2s;
}

.trump {
    grid-row: 6/9 ;
    grid-column: 3/7 ;
    visibility: hidden;
}

.drumpdalk {
    grid-row: 9/10;
    grid-column: 3/7;
    visibility: hidden;
}

.twitter {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -10px -80px;
    grid-row: 1/2;
    grid-column: 9/10;
    margin-left: 100px;
}

.facebook {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -10px -10px;
    grid-row: 1/2;
    grid-column: 9/10;
}

.instagram {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -80px -10px;
    grid-row: 1/2;    
    grid-column: 9/10;
    margin-left: 50px;
}

.social {
    display: grid;
    grid-template-columns: repeat(9, 1fr) ;
    grid-template-rows: repeat(2, 1fr) ;
}

@media only screen and (max-device-width: 400px){
    body {
        width: 360px;
    }

    .bartalk {
        grid-column: 7/9;
        grid-row: 7/8;
        margin: 0px;
        visibility: hidden;
    }

    .bartalk > p {
        font-size: 6px;
        visibility: hidden;
    }

    .drumpdalk {
        grid-row: 9/10;
        grid-column: 3/7;
        background-color: darkorange;
        visibility: visible;
    }

    .drumpdalk > p {
        font-size: 10px;
        color: white;
        font-family: 'Italiana', serif; 
        text-align: center; 
    }

    .trump {
        grid-row: 6/9 ;
        grid-column: 3/7 ;
        background-image: url(../img/drump.png); 
        background-image: black;
        visibility: visible;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; 
        
    }

    .ramtalk {
        grid-column: 1/3;
        grid-row: 7/8;
        margin: 0px;
        visibility: hidden;
        
    }

    .ramtalk >p {
        font-size: 6px;
        margin-top: 10px;
        visibility: hidden;
    }

    .startcontainer > header > .logotyp {
        font-size: 8px;
    }

    .pizzabild {
    height: auto;
    grid-row: 3/6;
    grid-column: 2/8;
    }

    .startcontainer {
    background-image: url(../img/mobileflag.jpg);
    background-position: center center;
    }
    

    .obama {
        display: none;
    }

    .gramsey {
        display: none;
    }

    .start > a {
        font-size: 10px;
    }

    .start > p {
        font-size: 8px;
    }

    .start > a:hover {
        font-size: 16px;
    }

    .startcontainer > footer {
        font-size: 10px;
    }

    .start {
        grid-row: 11/12;
        grid-column: 3/7;
    }

    .checkcontainer {
        background-image: url(../img/mobileflag.jpg);
    }

    .pizzacontainer {
        background-image: url(../img/mobileflag.jpg);
        background-position: center center;
    }

    .pizzacontainer > header > h1 {
        font-size: 16px;
    }

    .buy > a > p {
        font-size: 16px;
    }

    div.margharita > p {
        font-size: 10px;
    }

    div.margharita {
        grid-column: 2/4 ;
        grid-row: 2/2 ;
        src: url(../img/smallmargharita.png);
    }

    div.hawaii > p {
        font-size: 10px;
    }

    div.hawaii {
        grid-column: 3/6;
        grid-row: 4/4;
        src: url(../img/smallhawaii.png);
    }

    div.pepperoni > p {
        font-size: 10px;
    }

    div.pepperoni {
        grid-column: 5/7;
        grid-row: 2/2;
        src: url(../img/smallpepperoni.png);
    }

    img {
        grid-column: 3/6;
        grid-row: 2/5;
    }

    .instagram {
        width: 10px; height: 10px;
        background: url('../img/small_sprites.png') -10px -10px;
        margin-left: 10px;
    }

    .twitter {
        width: 10px; height: 10px;
        background: url('../img/small_sprites.png') -10px -40px;
        margin-left: 20px;
    }

    .facebook {
        width: 10px; height: 10px;
        background: url('../img/small_sprites.png') -40px -10px;
    }

    .startcontainer > footer > .social > p {
        grid-column: 1/4;
    }



 
}