<div class="startcontainer">
    <header>
        <div class="logotyp"> <p>Pizza Online</p></div>
        <p>AB</p>
    </header>

    <div class="topleft"></div>

    <div class="topright"></div>

    <div class="pizzabild"></div>

    <div class="obama"></div>

    <div class="bartalk"><p>"Can we say with 100% certainty that Online Pizza is the best online restaurant?" "Yes we can!" - Barack Obama</p></div>

    <div class="gramsey"></div>

    <div class="ramtalk"><p>"Best pizza there is!" - Gordon Ramsay </p></div>

    <div class="trump"></div>

    <div class="drumpdalk"><p>"This site has made America Great Again!" - Donald Trump</p></div>

    <div class="start">
        <a href="pizzasida.html">
            <p>Välj pizza</p> 
        </a>
    </div>

    
    <footer>
        <div class="social">  
            <p>© 2018 PizzaOnline AB</p>          
            <div class="twitter"></div>
            <div class="facebook"></div>
            <div class="instagram"></div>
    </div>

        
    </footer>


</div>