<div class="startcontainer">
    <header>
        <div class="logotyp"> <p>Pizza Online</p></div>
        <p>AB</p>
    </header>

    <div class="topleft"></div>

    <div class="topright"></div>

    <div class="pizzabild"></div>

    <div class="chef"></div>

    <div class="gramsey"></div>

    <div class="start">
        <a href="pizzasida.html">
            <p>Skapa</p> 
        </a>
        <p>egen variant</p>
    </div>
    
    <footer>
        <p>© 2018 PizzaOnline AB</p>
    </footer>


</div>