<div class="pizzacontainer">

    <header><h1>Skapa</h1></header>

    <div class="custom"></div>

    <div class="buy"><a href="checkout.html">
            <p>Beställ</p> 
        </a>
    </div>

    <div class="ham"></div>

    <footer>
        <p>© 2018 PizzaOnline AB</p>
    </footer>



</div>

